@import 'variable-overrides';
@import '../../vendor/bower/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'overrides';
@import 'brandbar';
@import 'media';
@import 'gradient';
@import 'nav';
@import 'icon';
@import 'thefeed';
// @import 'block-grid';
body {
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', san-serif;
}

a:hover {
  text-decoration:none;
}
.navbar{
	z-index: 100;
}

.logo {
	font-size: 25px;
	font-weight: 100;
	margin-top: -2px;
}

.logo img {
	max-width: 140px;
	margin-top: -6px;
}

footer {
	background-color: $gray-lighter;
	padding: 25px 0;
    margin-top: 40px;
}

.center {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.posts li {list-style:none;}


/***************************************************************************************
* Dashboard Elements - used on /dashboard.html
***************************************************************************************/
.status-block {padding: 30px 0; color:$gray-lighter;}
.status-blocks h2 {font-size: $font-size-h2+30px;}
.documents, .documents ul {list-style: none;}
#myTabDrop1 {margin-top: 17px;}


/* RIGHT SIDE BAR */
#rt_block_wrapper {
    float: right;
    margin-top: 25px;
    width: 302px;
}
.rt_block {
    background: url("/img/bg_rt_grad1.png") repeat-x scroll center top #F6F7F7;
    border: 1px solid #CFCDCD;
    font-family: Arial;
    overflow: visible;
    padding: 0 15px 10px;
    position: relative;
    width: 270px;
    z-index: 2;
}

.rt_block_spacer {
    margin-bottom: 1em;
}
/* RIGHT SIDE BAR */



/* Nav Page Push */
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {
  /*
  #menu {
    //position: absolute;
    //width: 100%;
    -webkit-transform: translatex(0%);
    transform: translatex(0%);
    transition: all 0.3s;
  }

  #menu.show {
   -webkit-transform: translatex(101%);
    transform: translatex(101%);
    transition: all 0.3s;
    position: fixed;
    z-index: 100000000;
  }

  #sp-nav {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%);
    position: absolute;
    transition: all 0.3s;
  }

  #sp-page {
    -webkit-transform: translatex(0%);
    transform: translatex(0%);
    transition: all 0.3s;
    padding: 0 20px;
  }

  #sp-nav.show {
    -webkit-transform: translatex(0%);
    transform: translatex(0%);
    transition: all 0.3s;
  }

  #sp-page.show {
    -webkit-transform: translatex(90%);
    transform: translatex(0%);
    transition: all 0.3s;
  }


  #login {
    left: -470%;
  }


  #menu {
    //position: absolute;
    //width: 100%;
    -webkit-transform: translatex(0%);
    transform: translatex(0%);
    transition: all 0.3s;
  }

  #menu.show {
   -webkit-transform: translatex(101%);
    transform: translatex(101%);
    transition: all 0.3s;
    position: fixed;
    z-index: 100000000;
  }

  #sp-nav {
    -webkit-transform: translatex(-100%);
    transform: translatex(-100%);
    position: absolute;
    top: 110%;
    transition: all 0.1s;
     // left: -260px;
  }

  #sp-nav.show {
     // left: -230px;
    -webkit-transform: translatex(0%);
    transform: translatex(0%);
  }


  #sp-page {
    -webkit-transform: translatex(0px);
    transform: translatex(0px);
    transition: all 0.3s;
    padding: 0 20px;
    position: absolute;
    //top: 11%;
    //z-index: 100000000;
    background-color: white;
    .overlay {
        background-color: #555;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 10000000;
        top: -4%;
        right: 6%;
        opacity: 0;
      }
  }

  #sp-page.show{
    -webkit-transform: translatex(267px);
    transform: translatex(267px);
    transition: all 0.3s;
   // top: 11%;
    position: fixed;
    .overlay {
        opacity: 0.75;
      }
  }


  #search {
    display: none;
    margin-left: -104%;
    position: absolute;
    margin-top: -3px;
  }

  #search_input {
    width: 220px;
  //  float: left;
  //  margin-left: -190px;
  //  left: -150px;
  //  -webkit-transform: translatex(-150px);
  //  transform: translatex(-150px);
  //  transition: all 0.3s;
    display: none;
  }

  #search.show {
    display: block;
  }

  #search.show #search_input {
  //  -webkit-transform: translatex(-130px);
  //  transform: translatex(-130px);
    display: table;
  //  transition: all 0.3s;

  }*/
}
