/***************************************************************************************
* Colors
***************************************************************************************/

.type-color--secondary {
  color: $brand-secondary;
}

.type-color{
  color: $brand-primary;
}

.type-color--grey{
  color: $cr-grey;
}

.divider--dark {
  margin-bottom: 10px;
  border-top: 1px solid $cr-grey
}

.link--orange {
  color: $cr-orange;
  font-weight: 400;
  &:hover {
    color: $cr-dkblue;
  }
}

.brand-primary {
  background: $brand-primary;
}

.brand-success {
  background: $brand-success;
}

.brand-info {
  background: $brand-info;
}

.brand-warning {
  background: $brand-warning;
}

.brand-danger {
  background: $brand-danger;
}

.brand-secondary {
  background: $brand-secondary;
}

.cr-dkblue{
  background: $cr-dkblue;
}

.gray-lighter {
  background: $gray-lighter;
}

.gray-light {
  background: $gray-light;
}

.gray {
  background: $gray;
}

.gray-dark {
  background: $gray-dark;
}

.cr-grey {
  background: $cr-grey;
}

.gray-darker {
  background: $gray-darker;
}