<div class="social_media_buttons addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1">
    <svg viewBox="0 0 12 32" class="icon-facebook icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#facebook">
    </use></svg>
  </a>
  <a class="addthis_button_preferred_2">
    <svg viewBox="0 0 32 32" class="icon-twitter icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#twitter">
    </use></svg>
  </a>
  <a class="addthis_button_preferred_3">
    <svg viewBox="0 0 32 32" class="icon-mail5 icon-social-media icon-medium">
      <use xlink:href="/icons/cr.svg#mail5">
    </use></svg>
  </a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5391d6a6145291c4"></script>
